<div class="page-wrapper">
    <!-- Page Header Start-->
    <%- include ('../partials/admin-header') %>
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <%- include ('../partials/admin-leftside') %>
                <!-- Page Sidebar Ends-->


                <div class="page-body">
                    <!-- Container-fluid starts-->
                    <div class="container-fluid">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="page-header-left">
                                        <h3>
                                            coupon list
                                            <small>Legnutz Admin panel</small>
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <ol class="breadcrumb pull-right">
                                        <li class="breadcrumb-item">
                                            <a href="/admin">
                                                <i data-feather="home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active">coupon list</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Container-fluid Ends-->

                    <!-- Container-fluid starts-->
                    <% if (coupons) { %>
                        <table class="table all-package table-category" id="myTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>title</th>
                                    <th>coupon status</th>
                                    <th>coupon code</th>
                                    <th>coupon type</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% var x=1 %>
                                    <% coupons.forEach(function(obj) { %>
                                        <tr>
                                            <th>
                                                <%= x %>
                                            </th>
                                            <td>
                                                <%= obj.couponTitle %>
                                            </td>
                                            <td>
                                                <%= obj.couponStatus %>
                                            </td>
                                            <td>
                                                <%= obj.couponCode %>
                                            </td>
                                            <td>
                                                <%= obj.couponType %>
                                            </td>
                                            <% x++;}); %>
                                        </tr>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h3 class="p-5">No Coupons</h3>
                            <% } %>
                                <!-- Container-fluid Ends-->
                </div>

                <!-- footer start-->
                <%- include ('../partials/admin-footer') %>
                    <!-- footer end-->
        </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#myTable').DataTable()

    });
</script>