<!-- page-wrapper Start-->
<div class="page-wrapper">
  <!-- Page Header Start-->
  <%- include('../partials/admin-header') %>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <!-- Page Sidebar Start-->
      <%- include('../partials/admin-leftside') %>
        <!-- Page Sidebar Ends-->



        <div class="page-body">
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-lg-6">
                  <div class="page-header-left">
                    <h3>
                      Dashboard
                      <small>Legnutz Admin panel</small>
                    </h3>
                  </div>
                </div>
                <div class="col-lg-6">
                  <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                      <a href="/admin">
                        <i data-feather="home"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->

          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                  <div class="warning-box card-body">
                    <div class="media static-top-widget align-items-center">
                      <div class="icons-widgets">
                        <div class="align-self-center text-center">
                          <i data-feather="navigation" class="font-warning"></i>
                        </div>
                      </div>
                      <div class="media-body media-doller">
                        <span class="m-0">Earnings</span>
                        <h3 class="mb-0">
                          $ <span class="counter">
                            <%= totalIncome %>
                          </span>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                  <div class="secondary-box card-body">
                    <div class="media static-top-widget align-items-center">
                      <div class="icons-widgets">
                        <div class="align-self-center text-center">
                          <i data-feather="box" class="font-secondary"></i>
                        </div>
                      </div>
                      <div class="media-body media-doller">
                        <span class="m-0">Products</span>
                        <h3 class="mb-0">
                          <span class="counter">
                            <%= products %>
                          </span><small> available</small>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                  <div class="primary-box card-body">
                    <div class="media static-top-widget align-items-center">
                      <div class="icons-widgets">
                        <div class="align-self-center text-center">
                          <i data-feather="message-square" class="font-primary"></i>
                        </div>
                      </div>
                      <div class="media-body media-doller">
                        <span class="m-0"> Reviews</span>
                        <h3 class="mb-0">
                          <span class="counter">0</span><small> All Time</small>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                  <div class="danger-box card-body">
                    <div class="media static-top-widget align-items-center">
                      <div class="icons-widgets">
                        <div class="align-self-center text-center">
                          <i data-feather="users" class="font-danger"></i>
                        </div>
                      </div>
                      <div class="media-body media-doller">
                        <span class="m-0">users</span>
                        <h3 class="mb-0">
                          <span class="counter">
                            <%= users %>
                          </span><small> active users</small>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 xl-100">
                <!-- <div id="user-acquisition" class="card card-default">
                  <div class="card-header">
                    <h2>Sales Report</h2>
                  </div>
                  <div class="card-body">
                    <ul class="nav nav-tabs nav-style-border justify-content-between justify-content-lg-start border-bottom" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#monthly" role="tab" aria-selected="false">Weekly </a>
                      </li>
                    </ul>
                    <div class="tab-content pt-4" id="salesReport">
                      <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                        <div class="mb-6" style="max-height:247px">
                          <canvas id="linechart1" class="chartjs2"></canvas>
                          <div id="acqLegend" class="customLegend mb-2"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="card">
                  <div class="card-header">
                    <h5>Weekly Report</h5>
                    <div class="card-header-right">
                      <ul class="list-unstyled card-option">
                        <li><i class="icofont icofont-simple-left"></i></li>
                        <li><i class="view-html fa fa-code"></i></li>
                        <li><i class="icofont icofont-maximize full-card"></i></li>
                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                        <li><i class="icofont icofont-error close-card"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="market-chart"></div>
                    <div class="code-box-copy">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head" title="Copy">
                        <i class="icofont icofont-copy-alt"></i>
                      </button>
                      <pre><code class="language-html" id="example-head">&lt;!-- Cod Box Copy begin --&gt;
                          &lt;div class="market-chart"&gt;&lt;/div&gt;
                          &lt;!-- Cod Box Copy end --&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 xl-100">
                <div class="card">
                  <div class="card-header">
                    <h5>Latest Orders</h5>
                    <div class="card-header-right">
                      <ul class="list-unstyled card-option">
                        <li><i class="icofont icofont-simple-left"></i></li>
                        <li><i class="view-html fa fa-code"></i></li>
                        <li><i class="icofont icofont-maximize full-card"></i></li>
                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                        <li><i class="icofont icofont-error close-card"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="user-status table-responsive latest-order-table">
                      <table class="table table-bordernone">
                        <thead>
                          <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order Total</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% orders.forEach(obj=> { %>
                            <tr>
                              <td>
                                <%= obj._id %>
                              </td>
                              <td class="digits">$<%= obj.totalAmount %>
                              </td>
                              <td class="font-danger">
                                <%= obj.paymentMethod %>
                              </td>
                              <td class="digits">
                                <%= obj.orderStatus %>
                              </td>
                            </tr>
                            <% }) %>
                        </tbody>
                      </table>
                      <a href="/admin/orderManage" class="btn btn-primary mt-4">View All Orders</a>
                    </div>
                    <div class="code-box-copy">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="" data-original-title="Copy">
                        <i class="icofont icofont-copy-alt"></i>
                      </button>
                      <pre class="language-html"><code class=" language-html" id="example-head1">
                          &lt;div class="user-status table-responsive latest-order-table"&gt;
                          &lt;table class="table table-bordernone"&gt;
                          &lt;thead&gt;
                          &lt;tr&gt;
                          &lt;th scope="col"&gt;Order ID&lt;/th&gt;
                          &lt;th scope="col"&gt;Order Total&lt;/th&gt;
                          &lt;th scope="col"&gt;Payment Method&lt;/th&gt;
                          &lt;th scope="col"&gt;Status&lt;/th&gt;
                          &lt;/tr&gt;
                          &lt;/thead&gt;
                          &lt;tbody&gt;
                          &lt;tr&gt;
                          &lt;td&gt;1&lt;/td&gt;
                          &lt;td class="digits"&gt;$120.00&lt;/td&gt;
                          &lt;td class="font-secondary"&gt;Bank Transfers&lt;/td&gt;
                          &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                          &lt;td&gt;2&lt;/td&gt;
                          &lt;td class="digits"&gt;$90.00&lt;/td&gt;
                          &lt;td class="font-secondary"&gt;Ewallets&lt;/td&gt;
                          &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                          &lt;td&gt;3&lt;/td&gt;
                          &lt;td class="digits"&gt;$240.00&lt;/td&gt;
                          &lt;td class="font-secondary"&gt;Cash&lt;/td&gt;
                          &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                          &lt;td&gt;4&lt;/td&gt;
                          &lt;td class="digits"&gt;$120.00&lt;/td&gt;
                          &lt;td class="font-primary"&gt;Direct Deposit&lt;/td&gt;
                          &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                          &lt;td&gt;5&lt;/td&gt;
                          &lt;td class="digits"&gt;$50.00&lt;/td&gt;
                          &lt;td class="font-primary"&gt;Bank Transfers&lt;/td&gt;
                          &lt;td class="digits"&gt;Delivered&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;/tbody&gt;
                          &lt;/table&gt;
                          &lt;/div&gt;
                        </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    <!-- footer start-->
    <%- include('../partials/admin-footer') %>
      <!-- footer end-->
</div>

<script>
  let revenueDate = '<%= revenueDate %>'
  revenueDate = revenueDate.replace(/&#34;/gi, "'");
  let revenueAmount = '<%= revenueAmount %>'
  revenueAmount = revenueAmount.replace(/&#34;/gi, "'");
  let countOrder = '<%= countOrder %>'
  countOrder = countOrder.replace(/&#34;/gi, "'");
  console.log(revenueAmount + revenueAmount + countOrder);


</script>