<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <%- include ('../partials/admin-header') %>
        <!-- Page Header Ends -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <%- include ('../partials/admin-leftside') %>
                <!-- Page Sidebar Ends-->

                <!-- Right sidebar Start-->
                <%- include ('../partials/admin-right-sidebar') %>
                    <!-- Right sidebar Ends-->

                    <div class="page-body">
                        <!-- Container-fluid starts-->
                        <div class="container-fluid">
                            <div class="page-header">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="page-header-left">
                                            <h3>Order List
                                                <small>legnutz Admin panel</small>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ol class="breadcrumb pull-right">
                                            <li class="breadcrumb-item">
                                                <a href="/admin">
                                                    <i data-feather="home"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">Menus</li>
                                            <li class="breadcrumb-item active">Order List</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Container-fluid Ends-->

                        <!-- Container-fluid starts-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <form class="form-inline search-form search-box">
                                                <div class="form-group">
                                                    <input class="form-control-plaintext" type="search"
                                                        placeholder="Search..">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table-desi">
                                                <table class="table all-package" id="editableTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Order Image</th>
                                                            <th>Order Code</th>
                                                            <th>Date</th>
                                                            <th>Quantity</th>
                                                            <th>Delivery Status</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <% orders.forEach(obj=> { %>
                                                            <tr>
                                                                <td>
                                                                    <img src="/images/<%= obj.productDetails.productImg[0] %> "
                                                                        alt="users">
                                                                </td>

                                                                <td data-field="number">
                                                                    <%= obj._id %>
                                                                </td>

                                                                <td data-field="date">
                                                                    <%= obj.orderedDate %>
                                                                </td>

                                                                <td data-field="text">
                                                                    <%= obj.quantity %>
                                                                </td>

                                                                <td class="order-success">
                                                                    <span>
                                                                        <%= obj.orderStatus %>
                                                                    </span>
                                                                </td>

                                                                <td data-field="number">$<%= obj.totalAmount %>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Container-fluid Ends-->
                    </div>

                    <!-- footer start-->
                    <%- include ('../partials/admin-footer') %>
                        <!-- footer end-->
        </div>
</div>