<div class="color-theme-1">
	<!-- header start -->
	<%- include ('../partials/user-header') %>
		<!-- header end -->

		<!-- breadcrumb start -->
		<div class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="page-title">
							<h2>cart</h2>
						</div>
					</div>
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="theme-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active">cart</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb End -->

		<!--section start-->
		<% if (cartItems) { %>
			<section class="pt-0 cart-section section-b-space">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 table-responsive-xs">
							<table class="table cart-table">
								<thead>
									<tr class="table-head">
										<th scope="col">image</th>
										<th scope="col">product name</th>
										<th scope="col">price</th>
										<th scope="col">quantity</th>
										<th scope="col">action</th>
										<th scope="col">total</th>
									</tr>
								</thead>
								<tbody>
									<% cartItems.forEach(obj=> { %>
										<tr>
											<td>
												<a href="#"><img src="/images/<%= obj.product.productImg[0] %>"
														alt="" /></a>
											</td>
											<td>
												<a href="#">
													<%= obj.product.productName %>
												</a>
											</td>
											<td>
												<h2>$<%= obj.product.productPrice %>
												</h2>
											</td>
											<td>
												<div class="qty-box">
													<div class="input-group">
														<button class="text-danger fs-3 text-center" id="#qtyminus"
															onclick="IncDecQuant('<%= obj._id %>','<%= obj.product._id %>',-1,'<%= obj.product.productPrice %>')">
															-
														</button>
														<div
															class="d-flex justify-content-center align-items-center ms-3">
															<span class="mt-2" id="<%= obj.product._id %>">
																<%= obj.quantity %>
															</span>
														</div>
														<button class="text-success fs-4 text-center ms-3" id="#qtyplus"
															onclick="IncDecQuant('<%= obj._id %>','<%= obj.product._id %>',1,'<%= obj.product.productPrice %>')">
															+
														</button>
													</div>
												</div>
											</td>
											<td>
												<a onclick="removeItem('<%= obj._id %>','<%= obj.product._id %>')"><i
														class="btn fa fa-trash" title="Delete"></i></a>
											</td>
											<td>
												<h2 id="total<%= obj.product._id %>" class="text-primary">
													$<%= obj.quantity*obj.product.productPrice %>
												</h2>
											</td>
										</tr>
										<% }) %>
								</tbody>
							</table>
							<div class="table-responsive-md">
								<table class="table cart-table">
									<tfoot>
										<tr>
											<td>total price :</td>
											<td>
												<h2 id="total">$<%= totalAmount %>
												</h2>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="row cart-buttons">
						<div class="col-6">
							<a href="/" class="btn btn-solid">continue shopping</a>
						</div>
						<div class="col-6">
							<a href="/checkOut" class="btn btn-solid">check out</a>
						</div>
					</div>
				</div>
			</section>
			<% } else { %>
				<label class="text-danger">There is no any items in your cart</label>
				<section class="cart-section section-b-space">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 table-responsive-xs">
								<table class="table cart-table">
									<thead>
										<tr class="table-head">
											<th scope="col">image</th>
											<th scope="col">product name</th>
											<th scope="col">price</th>
											<th scope="col">quantity</th>
											<th scope="col">action</th>
											<th scope="col">total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<a href="#"><img src="" alt="" /></a>
											</td>
											<td>
												<a href="#"></a>
											</td>
											<td>
												<h2>$</h2>
											</td>
											<td>
												<div class="qty-box">
													<div class="input-group">
														<input type="number" name="quantity"
															class="form-control input-number" value="0" />
													</div>
												</div>
											</td>
											<td>
												<a href="#" class="icon"><i class="ti-close"></i></a>
											</td>
											<td>
												<h2 class="td-color">$</h2>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="table-responsive-md">
									<table class="table cart-table">
										<tfoot>
											<tr>
												<td>total price :</td>
												<td>
													<h2>$0000.00</h2>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="row cart-buttons">
							<div class="col-6">
								<a href="/" class="btn btn-solid">continue shopping</a>
							</div>
						</div>
					</div>
				</section>
				<% } %>
					<!--section end-->

					<!-- footer start -->
					<%- include ('../partials/user-footer') %>
						<!-- footer end -->
</div>
<div class="tap-top">
	<div>
		<i class="fa fa-angle-double-up"> </i>
	</div>
</div>