<div class="color-theme-1">
	<!-- header start -->
	<%- include ('../partials/user-header') %>
		<!-- header end -->

		<!-- breadcrumb start -->
		<div class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="page-title">
							<h2>Check-out</h2>
						</div>
					</div>
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="theme-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									Check-out</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb End -->

		<!-- section start -->
		<section class="section-b-space">
			<div class="container">
				<div class="checkout-page">
					<div class="checkout-form">
						<form id="checkout-form">
							<div class="row">
								<% if (addresses) { %>
									<% var x=1 %>
										<% addresses.forEach(obj=> { %>
											<div class="col-lg-6 col-sm-12 col-xs-12 mt-5">
												<div class="checkout-title">
													<input type="radio" id="<%= obj._id %>" name="ORIGIN" value="<%= obj._id %>" style="cursor: pointer" checked />
													<label for="<%= obj._id %>">
														<h3>
															Address-<%= x %>
														</h3>
													</label>
												</div>
												<div class="row check-out">
													<div class="form-group col-md-6 col-sm-6 col-xs-12">
														<p>
															<%= obj.firstName %>
																<%= obj.lastName %>
														</p>
														<p>
															<%= obj.address %>
														</p>
														<p>
															<%= obj.townOrCity %>
														</p>
														<p>
															<%= obj.stateOrDistrict %>
														</p>
														<p>
															<%= obj.country %>
														</p>
														<p>
															<%= obj.postalCode %>
														</p>
														<p>
															<%= obj.mobileNumber %>
														</p>
														<p>
															<%= obj.Email %>
														</p>
													</div>
												</div>
											</div>
											<% x++; }) %>
												<div class="col-lg-6 col-sm-12 col-xs-12 mt-5">
													<div class="checkout-title">
														<input type="radio" id="new-create" style="cursor: pointer" name="ORIGIN" value="createOne" />
														<label for="new-create">
															<h3>Create One</h3>
														</label>
													</div>
													<div class="row check-out">
														<div class="form-group col-md-6 col-sm-6 col-xs-12">
															<div class="field-label">First Name</div>
															<input type="text" name="firstName" value="" placeholder="Enter first name" />
														</div>
														<div class="form-group col-md-6 col-sm-6 col-xs-12">
															<div class="field-label">Last Name</div>
															<input type="text" name="lastName" value="" placeholder="Enter last name" />
														</div>
														<div class="form-group col-md-6 col-sm-6 col-xs-12">
															<div class="field-label">Phone</div>
															<input type="text" name="mobileNumber" value="" placeholder="Enter your mobile number" />
														</div>
														<div class="form-group col-md-6 col-sm-6 col-xs-12">
															<div class="field-label">Email Address</div>
															<input type="text" name="Email" value="" placeholder="Enter Email address" />
														</div>
														<div class="form-group col-md-12 col-sm-12 col-xs-12">
															<div class="field-label">Country</div>
															<select name="country">
																<option>India</option>
																<option>South Africa</option>
																<option>United State</option>
																<option>Australia</option>
															</select>
														</div>
														<div class="form-group col-md-12 col-sm-12 col-xs-12">
															<div class="field-label">Address</div>
															<input type="text" name="address" value="" placeholder="Street address" />
														</div>
														<div class="form-group col-md-12 col-sm-12 col-xs-12">
															<div class="field-label">Town/City</div>
															<input type="text" name="townOrCity" value="" placeholder="Enter your Twon or City name" />
														</div>
														<div class="form-group col-md-12 col-sm-6 col-xs-12">
															<div class="field-label">State/District</div>
															<input type="text" name="stateOrDistrict" value="" placeholder="Enter State or District name" />
														</div>
														<div class="form-group col-md-12 col-sm-6 col-xs-12 ">
															<div class="field-label">Postal Code</div>
															<input type="text" name="postalCode" value="" placeholder="Enter a valid pin" />
														</div>
													</div>
												</div>
												<% } else { %>
													<div class="col-lg-6 col-sm-12 col-xs-12 mt-5">
														<div class="checkout-title">
															<input type="radio" id="new-create" style="cursor: pointer" name="ORIGIN" value="createOne" checked />
															<label for="new-create">
																<h4>You don't have address, Create One</h4>
															</label>
														</div>
														<div class="row check-out">
															<div class="form-group col-md-6 col-sm-6 col-xs-12">
																<div class="field-label">First Name</div>
																<input type="text" name="firstName" value="" placeholder="Enter first name" />
															</div>
															<div class="form-group col-md-6 col-sm-6 col-xs-12">
																<div class="field-label">Last Name</div>
																<input type="text" name="lastName" value="" placeholder="Enter last name" />
															</div>
															<div class="form-group col-md-6 col-sm-6 col-xs-12">
																<div class="field-label">Phone</div>
																<input type="text" name="mobileNumber" value="" placeholder="Enter your mobile number" />
															</div>
															<div class="form-group col-md-6 col-sm-6 col-xs-12">
																<div class="field-label">Email Address</div>
																<input type="text" name="Email" value="" placeholder="Enter Email address" />
															</div>
															<div class="form-group col-md-12 col-sm-12 col-xs-12">
																<div class="field-label">Country</div>
																<select name="country">
																	<option>India</option>
																	<option>South Africa</option>
																	<option>United State</option>
																	<option>Australia</option>
																</select>
															</div>
															<div class="form-group col-md-12 col-sm-12 col-xs-12">
																<div class="field-label">Address</div>
																<input type="text" name="address" value="" placeholder="Street address" />
															</div>
															<div class="form-group col-md-12 col-sm-12 col-xs-12">
																<div class="field-label">Town/City</div>
																<input type="text" name="townOrCity" value="" placeholder="Enter your Twon or City name" />
															</div>
															<div class="form-group col-md-12 col-sm-6 col-xs-12">
																<div class="field-label">State/District</div>
																<input type="text" name="stateOrDistrict" value="" placeholder="Enter State or District name" />
															</div>
															<div class="form-group col-md-12 col-sm-6 col-xs-12">
																<div class="field-label">Postal Code</div>
																<input type="text" name="postalCode" value="" placeholder="Enter a valid pin" />
															</div>
														</div>
													</div>
													<% }%>
														<div class="col-lg-6 col-sm-12 col-xs-12 mt-5">
															<div class="checkout-details">
																<div class="order-box">
																	<div class="title-box">
																		<div>Product<span>Total</span></div>
																	</div>
																	<ul class="qty">
																		<% cartItems.forEach(obj=> { %>
																			<li>
																				<%= obj.product.productName %>×<%= obj.quantity %>
																						<span>$
																							<%= obj.product.productPrice*obj.quantity %>
																						</span>
																			</li>
																			<% }) %>
																	</ul>
																	<ul class="sub-total">
																		<li>
																			Subtotal<span class="count">$<%= totalAmount %></span>
																		</li>
																		<li>
																			Shipping
																			<div class="shipping">
																				<div class="shopping-option">
																					<input type="radio" name="shippingMode" id="free-shipping" value="FREE" checked style="cursor: pointer" />
																					<label for="free-shipping">Free Shipping</label>
																				</div>
																				<div class="shopping-option">
																					<input type="radio" name="shippingMode" id="local-pickup" value="Local pickup" style="cursor: pointer" />
																					<label for="local-pickup">Local Pickup</label>
																				</div>
																			</div>
																		</li>
																	</ul>
																	<ul class="total">
																		<li>
																			Total<span class="count">$<%= totalAmount %></span>
																		</li>
																	</ul>
																</div>
																<div class="payment-box">
																	<div class="upper-box">
																		<div class="payment-options">
																			<ul>
																				<li>
																					<div class="radio-option">
																						<input type="radio" name="paymentMethod" id="payment-1" value="UPI-BANK" />
																						<label for="payment-1">UPI or online payment<span class="small-text">
																								Please send a check to Store Name, Store Street, Store Town, Store State / County,StorePostcode.
																							</span></label>
																					</div>
																				</li>
																				<li>
																					<div class="radio-option">
																						<input type="radio" name="paymentMethod" id="payment-2" checked="checked" value="COD" />
																						<label for="payment-2">Cash On Delivery<span class="small-text">
																								Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
																							</span></label>
																					</div>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="input-group mb-3 form-group col-md-12 col-sm-6 col-xs-12">
																		<div class="field-label">Coupon Code</div>
																		<input name="couponCode" type="text" class="form-control" placeholder="optional" aria-label="Recipient's username" aria-describedby="button-addon2">
																		<button onclick="applyCoupon()" class="btn btn-outline-secondary mt-3" type="button" id="button-addon2">apply coupon</button>
																	</div>
																	<div class="text-end">
																		<button type="submit" class="btn-solid btn">Place Order</button>
																	</div>
																</div>
															</div>
														</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- section end -->

		<!-- footer start -->
		<%- include ('../partials/user-footer') %>
			<!-- footer end -->

			<!-- tap to top start -->
			<div class="tap-top">
				<div><i class="fa fa-angle-double-up"></i></div>
			</div>
			<!-- tap to top end -->
</div>

<script>
	$("#checkout-form").submit(e => {
		e.preventDefault();
		$.ajax({
			url: "/placeOrder",
			method: "post",
			data: $("#checkout-form").serialize(),
			success: response => {
				if (response.codsuccess) {
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Order Success',
						customClass: 'swal-wide',
						showConfirmButton: false,
						timer: 1000
					}).then((result) => {
						location.href = '/successPage'
					})
				} else {
					if (response.order == null) {
						Swal.fire({
							icon: 'error',
							title: 'Connection Failed',
							text: 'Please Check the Internet Connection!',
							customClass: 'swal-wide',
						})
					} else {
						razorpayPayment(response)
					}
				}
			}
		})
	})
	function razorpayPayment(payment) {
		var options = {
			"key": "rzp_test_jk6BVykF0sfMd7", // Enter the Key ID generated from the Dashboard
			"amount": payment.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "legnutz",
			"description": "complete Transaction",
			// "image": "https://example.com/your_logo",
			"order_id": payment.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				verifyPayment(response, payment.order)
			},
			"prefill": {
				"name": "legnutz automotive",
				"email": "legnutz@gmail.com",
				"contact": "7356986777"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.open();
	}
	function verifyPayment(payment, order) {
		console.log(payment, "vvvv", order);
		$.ajax({
			url: '/verifyPayment',
			method: 'post',
			data: {
				payment: payment,
				order: order
			},

			success: (response) => {
				if (response.status) {
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Payment Success',
						showConfirmButton: false,
						customClass: 'swal-wide',
						timer: 1000
					}).then((result) => {
						location.href = '/successPage'
					})
				} else {
					Swal.fire({
						position: 'center',
						icon: 'error',
						title: 'Payment Failed',
						showConfirmButton: false,
						customClass: 'swal-wide',
						timer: 1000
					}).then((result) => {
						location.reload()
					})
				}
			}
		})
	}
</script>